@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body{
      margin: 0%;
}
#container{
      width: 120vw;
      height: 120vh;
      font-family: 'Oswald', sans-serif;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.76);
      color: rgb(255, 255, 255);
}
.juegos{
      width: 19em;
      padding: 8%;       
    background-color: rgb(4 0 0 / 0%);

}
.juego{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
}#ganar, #perder{
      display: flex;
      
      width: 45%;
      align-items: center;
      margin-top: 5%;
}#ganar{
      color: rgb(99, 253, 99);
}
#perder{
      color: red;
}
h1{
      font-size: 1.3em;
}
h1{
      font-weight: Oswald !important;
      font-size: 1.75em !important;
}
#hr{
      width: 100%;
      border-top: 2px solid !important;
      margin-top: 3%;
      margin-bottom: 3%;
}
label{
      font-weight: bold !important;
      font-size: 18px;
      margin-top: 5%;
      margin-bottom: 10px;
      font-family: 'Oswald', sans-serif;
}

input{
      font-family: 'Oswald', sans-serif;
}
.reset{
      display: flex;
      justify-content: center;
}
#moneda{
      display: flex;
      justify-content: center;
      width: 100%;
      animation-name: mianimacion;
      animation-duration: 10s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
  }
  @keyframes mianimacion {
      0% {
          transform: rotateX(90deg);
      }
      25%{
          transform: rotateX(180deg);
      }
      50%{
          transform: rotateX(360deg);
      }
      75%{
          transform: rotateX(-180deg);
      }
      100%{
          transform: rotateX(-90deg);
      }
  }

@media screen and (min-width: 480px) {
      h1{
            font-size: 1.5em !important;
      }
      label{
            font-size: 1.3em;
            font-weight: 100 !important;
            margin-top: 8%;
      }input{
            height: 2.5em ;
      }.juegos{
            width: 38em;
      }#reinicio{
            font-size: 1.1em;
            width: 5em;
      }#h1{
            font-size: 1.3em;
      }.mb-3 {
            margin-bottom: 2rem !important;
        }
}
@media screen and (min-width: 720px) {
       h1{
            font-size: 1.8em !important;
            margin-top: 5%;
      }.juegos{
            width: 50em;
            background-color: rgb(4 0 0 / 0%);
            
      }
      h1{
            font-size: 1.5em;
      }label{
            font-size: 1.4em;
      }
      .reset{
            margin-top: 5%;
      }
      
      
}
@media screen and (min-width: 1024px) {
      .btn{
            font-size: 1em;
      }Swal{
            width: 50%;
      }
      label{
            margin-bottom: 7%;
      }
}
@media screen and (min-width: 1200px) {
      .btn{
            font-size: 1em;
      }Swal{
            width: 50%;
      }
      label{
            margin-bottom: 7%;
      }#label{
            width: 100%;
      }
}